body{
    height: 2000px;
}

.nav-link{
    color: white;
    font-weight: 700;
}

/* .ipu-logo{
    width: 120px;
} */


.trn {
    background: transparent;
    z-index:999;
}

/* .carousel-image{
    opacity: 0.7;
} */

/* .trn a:hover {
    border-bottom: 2px solid #fff;
} */
/* 
.hactive a {
    border-bottom: 2px solid #fff;
}

.bd-example {
    margin-top: -102px;
} */
